*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(255, 255, 255);
    background-color: #bfc0c0a9;
}

body, input, button, textarea{
    font: 600 18px Raleway, sans-serif;
}